body{
    font-family: sans-serif;
    background-color: gray; 
    color: black;
}

a {
    text-decoration: none;
    color:darkgray;
    font-weight: lighter;
}

main, header{ 
    /* background-color: blue; */
    width: 70%;
    margin: 0 auto;
}

/* CAMBIO RANDOM 1 */